/*!  |   superflycss/utilities-layout |
     |   MIT License                  |
     |   https://github.com/superflycss/utilities-layout/blob/master/LICENSE.md */

@import "@superflycss/variables-dimension";

@import "./flex.css";
@import "./sm-flex.css";
@import "./md-flex.css";
@import "./lg-flex.css";
@import "./padding.css";
@import "./margins.css";
@import "./height-width.css";
@import "./zindex.css";
@import "./position.css";
@import "./borders.css";
@import "./text.css";

.u-full-screen {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
}

.u-fill-container {
    position: absolute !important;
    height:100%;
    width: 100%;
}

.u-overflow-hidden {
    overflow: hidden;
}

.u-display-block {
  display: block !important;
}

.u-display-hidden {
  display: none !important;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */

.u-display-hidden-visually {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.u-display-inline {
  display: inline !important;
}

/**
 * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
 * inline-block will display at its default size, and not limit its width to
 * 100% of an ancestral container.
 */

.u-display-inline-block {
  display: inline-block !important;
  max-width: 100%; /* 1 */
}

.u-display-table {
  display: table !important;
}

.u-display-table-cell {
  display: table-cell !important;
}

.u-display-table-row {
  display: table-row !important;
}
