/** @define utilities */

@import "@superflycss/variables-dimension";

@media (--sm-viewport) {
  @each $position in static, relative, absolute, fixed {
    .u-sm-position-$(position) {
      position: $(position) !important;
    }
  }
  .u-sm-top-right {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
  }
  .u-sm-top-left {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
  }
  .u-sm-bottom-right {
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
  }
  .u-sm-bottom-left {
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
  }
}
