.u-full-screen {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
}

.u-fill-container {
    position: absolute !important;
    height:100%;
    width: 100%;
}

.u-overflow-hidden {
    overflow: hidden;
}

.u-display-block {
  display: block !important;
}

.u-display-hidden {
  display: none !important;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */

.u-display-hidden-visually {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.u-display-inline {
  display: inline !important;
}