/** @define utilities */

.u-height-halfrem {
  height: 0.5rem !important;
}

.u-height-0rem {
    height: 0rem !important;
  }

.u-height-1rem {
    height: 1rem !important;
  }

.u-height-2rem {
    height: 2rem !important;
  }

.u-height-3rem {
    height: 3rem !important;
  }

.u-height-4rem {
    height: 4rem !important;
  }

.u-height-5rem {
    height: 5rem !important;
  }

.u-height-6rem {
    height: 6rem !important;
  }

.u-height-7rem {
    height: 7rem !important;
  }

.u-height-8rem {
    height: 8rem !important;
  }

.u-height-9rem {
    height: 9rem !important;
  }

.u-height-10rem {
    height: 10rem !important;
  }

.u-height-11rem {
    height: 11rem !important;
  }

.u-height-12rem {
    height: 12rem !important;
  }

.u-height-13rem {
    height: 13rem !important;
  }

.u-height-14rem {
    height: 14rem !important;
  }

.u-height-15rem {
    height: 15rem !important;
  }

.u-height-16rem {
    height: 16rem !important;
  }

.u-height-17rem {
    height: 17rem !important;
  }

.u-height-18rem {
    height: 18rem !important;
  }

.u-height-19rem {
    height: 19rem !important;
  }

.u-height-20rem {
    height: 20rem !important;
  }

.u-height-21rem {
    height: 21rem !important;
  }

.u-height-22rem {
    height: 22rem !important;
  }

.u-height-23rem {
    height: 23rem !important;
  }

.u-height-24rem {
    height: 24rem !important;
  }

.u-height-25rem {
    height: 25rem !important;
  }

.u-height-26rem {
    height: 26rem !important;
  }

.u-height-27rem {
    height: 27rem !important;
  }

.u-height-28rem {
    height: 28rem !important;
  }

.u-height-29rem {
    height: 29rem !important;
  }

.u-height-30rem {
    height: 30rem !important;
  }

.u-height-31rem {
    height: 31rem !important;
  }

.u-height-32rem {
    height: 32rem !important;
  }

.u-height-33rem {
    height: 33rem !important;
  }

.u-height-34rem {
    height: 34rem !important;
  }

.u-height-35rem {
    height: 35rem !important;
  }

.u-height-36rem {
    height: 36rem !important;
  }

.u-height-37rem {
    height: 37rem !important;
  }

.u-height-38rem {
    height: 38rem !important;
  }

.u-height-39rem {
    height: 39rem !important;
  }

.u-height-40rem {
    height: 40rem !important;
  }

.u-height-41rem {
    height: 41rem !important;
  }

.u-height-42rem {
    height: 42rem !important;
  }

.u-height-43rem {
    height: 43rem !important;
  }

.u-height-44rem {
    height: 44rem !important;
  }

.u-height-45rem {
    height: 45rem !important;
  }

.u-height-46rem {
    height: 46rem !important;
  }

.u-height-47rem {
    height: 47rem !important;
  }

.u-height-48rem {
    height: 48rem !important;
  }

.u-height-49rem {
    height: 49rem !important;
  }

.u-height-50rem {
    height: 50rem !important;
  }

.u-min-height-halfrem {
  min-height: 0.5rem !important;
}

.u-min-height-0rem {
    min-height: 0rem !important;
  }

.u-min-height-1rem {
    min-height: 1rem !important;
  }

.u-min-height-2rem {
    min-height: 2rem !important;
  }

.u-min-height-3rem {
    min-height: 3rem !important;
  }

.u-min-height-4rem {
    min-height: 4rem !important;
  }

.u-min-height-5rem {
    min-height: 5rem !important;
  }

.u-min-height-6rem {
    min-height: 6rem !important;
  }

.u-min-height-7rem {
    min-height: 7rem !important;
  }

.u-min-height-8rem {
    min-height: 8rem !important;
  }

.u-min-height-9rem {
    min-height: 9rem !important;
  }

.u-min-height-10rem {
    min-height: 10rem !important;
  }

.u-min-height-11rem {
    min-height: 11rem !important;
  }

.u-min-height-12rem {
    min-height: 12rem !important;
  }

.u-min-height-13rem {
    min-height: 13rem !important;
  }

.u-min-height-14rem {
    min-height: 14rem !important;
  }

.u-min-height-15rem {
    min-height: 15rem !important;
  }

.u-min-height-16rem {
    min-height: 16rem !important;
  }

.u-min-height-17rem {
    min-height: 17rem !important;
  }

.u-min-height-18rem {
    min-height: 18rem !important;
  }

.u-min-height-19rem {
    min-height: 19rem !important;
  }

.u-min-height-20rem {
    min-height: 20rem !important;
  }

.u-min-height-21rem {
    min-height: 21rem !important;
  }

.u-min-height-22rem {
    min-height: 22rem !important;
  }

.u-min-height-23rem {
    min-height: 23rem !important;
  }

.u-min-height-24rem {
    min-height: 24rem !important;
  }

.u-min-height-25rem {
    min-height: 25rem !important;
  }

.u-min-height-26rem {
    min-height: 26rem !important;
  }

.u-min-height-27rem {
    min-height: 27rem !important;
  }

.u-min-height-28rem {
    min-height: 28rem !important;
  }

.u-min-height-29rem {
    min-height: 29rem !important;
  }

.u-min-height-30rem {
    min-height: 30rem !important;
  }

.u-min-height-31rem {
    min-height: 31rem !important;
  }

.u-min-height-32rem {
    min-height: 32rem !important;
  }

.u-min-height-33rem {
    min-height: 33rem !important;
  }

.u-min-height-34rem {
    min-height: 34rem !important;
  }

.u-min-height-35rem {
    min-height: 35rem !important;
  }

.u-min-height-36rem {
    min-height: 36rem !important;
  }

.u-min-height-37rem {
    min-height: 37rem !important;
  }

.u-min-height-38rem {
    min-height: 38rem !important;
  }

.u-min-height-39rem {
    min-height: 39rem !important;
  }

.u-min-height-40rem {
    min-height: 40rem !important;
  }

.u-min-height-41rem {
    min-height: 41rem !important;
  }

.u-min-height-42rem {
    min-height: 42rem !important;
  }

.u-min-height-43rem {
    min-height: 43rem !important;
  }

.u-min-height-44rem {
    min-height: 44rem !important;
  }

.u-min-height-45rem {
    min-height: 45rem !important;
  }

.u-min-height-46rem {
    min-height: 46rem !important;
  }

.u-min-height-47rem {
    min-height: 47rem !important;
  }

.u-min-height-48rem {
    min-height: 48rem !important;
  }

.u-min-height-49rem {
    min-height: 49rem !important;
  }

.u-min-height-50rem {
    min-height: 50rem !important;
  }

.u-max-height-halfrem {
  max-height: 0.5rem !important;
}

.u-height-100 {
  height: 100% !important;
}

.u-max-height-0rem {
    max-height: 0rem !important;
  }

.u-max-height-1rem {
    max-height: 1rem !important;
  }

.u-max-height-2rem {
    max-height: 2rem !important;
  }

.u-max-height-3rem {
    max-height: 3rem !important;
  }

.u-max-height-4rem {
    max-height: 4rem !important;
  }

.u-max-height-5rem {
    max-height: 5rem !important;
  }

.u-max-height-6rem {
    max-height: 6rem !important;
  }

.u-max-height-7rem {
    max-height: 7rem !important;
  }

.u-max-height-8rem {
    max-height: 8rem !important;
  }

.u-max-height-9rem {
    max-height: 9rem !important;
  }

.u-max-height-10rem {
    max-height: 10rem !important;
  }

.u-max-height-11rem {
    max-height: 11rem !important;
  }

.u-max-height-12rem {
    max-height: 12rem !important;
  }

.u-max-height-13rem {
    max-height: 13rem !important;
  }

.u-max-height-14rem {
    max-height: 14rem !important;
  }

.u-max-height-15rem {
    max-height: 15rem !important;
  }

.u-max-height-16rem {
    max-height: 16rem !important;
  }

.u-max-height-17rem {
    max-height: 17rem !important;
  }

.u-max-height-18rem {
    max-height: 18rem !important;
  }

.u-max-height-19rem {
    max-height: 19rem !important;
  }

.u-max-height-20rem {
    max-height: 20rem !important;
  }

.u-max-height-21rem {
    max-height: 21rem !important;
  }

.u-max-height-22rem {
    max-height: 22rem !important;
  }

.u-max-height-23rem {
    max-height: 23rem !important;
  }

.u-max-height-24rem {
    max-height: 24rem !important;
  }

.u-max-height-25rem {
    max-height: 25rem !important;
  }

.u-max-height-26rem {
    max-height: 26rem !important;
  }

.u-max-height-27rem {
    max-height: 27rem !important;
  }

.u-max-height-28rem {
    max-height: 28rem !important;
  }

.u-max-height-29rem {
    max-height: 29rem !important;
  }

.u-max-height-30rem {
    max-height: 30rem !important;
  }

.u-max-height-31rem {
    max-height: 31rem !important;
  }

.u-max-height-32rem {
    max-height: 32rem !important;
  }

.u-max-height-33rem {
    max-height: 33rem !important;
  }

.u-max-height-34rem {
    max-height: 34rem !important;
  }

.u-max-height-35rem {
    max-height: 35rem !important;
  }

.u-max-height-36rem {
    max-height: 36rem !important;
  }

.u-max-height-37rem {
    max-height: 37rem !important;
  }

.u-max-height-38rem {
    max-height: 38rem !important;
  }

.u-max-height-39rem {
    max-height: 39rem !important;
  }

.u-max-height-40rem {
    max-height: 40rem !important;
  }

.u-max-height-41rem {
    max-height: 41rem !important;
  }

.u-max-height-42rem {
    max-height: 42rem !important;
  }

.u-max-height-43rem {
    max-height: 43rem !important;
  }

.u-max-height-44rem {
    max-height: 44rem !important;
  }

.u-max-height-45rem {
    max-height: 45rem !important;
  }

.u-max-height-46rem {
    max-height: 46rem !important;
  }

.u-max-height-47rem {
    max-height: 47rem !important;
  }

.u-max-height-48rem {
    max-height: 48rem !important;
  }

.u-max-height-49rem {
    max-height: 49rem !important;
  }

.u-max-height-50rem {
    max-height: 50rem !important;
  }

.u-min-width-halfrem {
  min-width: 0.5rem !important;
}

.u-min-width-0rem {
    min-width: 0rem !important;
  }

.u-min-width-1rem {
    min-width: 1rem !important;
  }

.u-min-width-2rem {
    min-width: 2rem !important;
  }

.u-min-width-3rem {
    min-width: 3rem !important;
  }

.u-min-width-4rem {
    min-width: 4rem !important;
  }

.u-min-width-5rem {
    min-width: 5rem !important;
  }

.u-min-width-6rem {
    min-width: 6rem !important;
  }

.u-min-width-7rem {
    min-width: 7rem !important;
  }

.u-min-width-8rem {
    min-width: 8rem !important;
  }

.u-min-width-9rem {
    min-width: 9rem !important;
  }

.u-min-width-10rem {
    min-width: 10rem !important;
  }

.u-min-width-11rem {
    min-width: 11rem !important;
  }

.u-min-width-12rem {
    min-width: 12rem !important;
  }

.u-min-width-13rem {
    min-width: 13rem !important;
  }

.u-min-width-14rem {
    min-width: 14rem !important;
  }

.u-min-width-15rem {
    min-width: 15rem !important;
  }

.u-min-width-16rem {
    min-width: 16rem !important;
  }

.u-min-width-17rem {
    min-width: 17rem !important;
  }

.u-min-width-18rem {
    min-width: 18rem !important;
  }

.u-min-width-19rem {
    min-width: 19rem !important;
  }

.u-min-width-20rem {
    min-width: 20rem !important;
  }

.u-min-width-21rem {
    min-width: 21rem !important;
  }

.u-min-width-22rem {
    min-width: 22rem !important;
  }

.u-min-width-23rem {
    min-width: 23rem !important;
  }

.u-min-width-24rem {
    min-width: 24rem !important;
  }

.u-min-width-25rem {
    min-width: 25rem !important;
  }

.u-min-width-26rem {
    min-width: 26rem !important;
  }

.u-min-width-27rem {
    min-width: 27rem !important;
  }

.u-min-width-28rem {
    min-width: 28rem !important;
  }

.u-min-width-29rem {
    min-width: 29rem !important;
  }

.u-min-width-30rem {
    min-width: 30rem !important;
  }

.u-min-width-31rem {
    min-width: 31rem !important;
  }

.u-min-width-32rem {
    min-width: 32rem !important;
  }

.u-min-width-33rem {
    min-width: 33rem !important;
  }

.u-min-width-34rem {
    min-width: 34rem !important;
  }

.u-min-width-35rem {
    min-width: 35rem !important;
  }

.u-min-width-36rem {
    min-width: 36rem !important;
  }

.u-min-width-37rem {
    min-width: 37rem !important;
  }

.u-min-width-38rem {
    min-width: 38rem !important;
  }

.u-min-width-39rem {
    min-width: 39rem !important;
  }

.u-min-width-40rem {
    min-width: 40rem !important;
  }

.u-min-width-41rem {
    min-width: 41rem !important;
  }

.u-min-width-42rem {
    min-width: 42rem !important;
  }

.u-min-width-43rem {
    min-width: 43rem !important;
  }

.u-min-width-44rem {
    min-width: 44rem !important;
  }

.u-min-width-45rem {
    min-width: 45rem !important;
  }

.u-min-width-46rem {
    min-width: 46rem !important;
  }

.u-min-width-47rem {
    min-width: 47rem !important;
  }

.u-min-width-48rem {
    min-width: 48rem !important;
  }

.u-min-width-49rem {
    min-width: 49rem !important;
  }

.u-min-width-50rem {
    min-width: 50rem !important;
  }

.u-max-width-0rem {
    max-width: 0rem !important;
  }

.u-max-width-1rem {
    max-width: 1rem !important;
  }

.u-max-width-2rem {
    max-width: 2rem !important;
  }

.u-max-width-3rem {
    max-width: 3rem !important;
  }

.u-max-width-4rem {
    max-width: 4rem !important;
  }

.u-max-width-5rem {
    max-width: 5rem !important;
  }

.u-max-width-6rem {
    max-width: 6rem !important;
  }

.u-max-width-7rem {
    max-width: 7rem !important;
  }

.u-max-width-8rem {
    max-width: 8rem !important;
  }

.u-max-width-9rem {
    max-width: 9rem !important;
  }

.u-max-width-10rem {
    max-width: 10rem !important;
  }

.u-max-width-11rem {
    max-width: 11rem !important;
  }

.u-max-width-12rem {
    max-width: 12rem !important;
  }

.u-max-width-13rem {
    max-width: 13rem !important;
  }

.u-max-width-14rem {
    max-width: 14rem !important;
  }

.u-max-width-15rem {
    max-width: 15rem !important;
  }

.u-max-width-16rem {
    max-width: 16rem !important;
  }

.u-max-width-17rem {
    max-width: 17rem !important;
  }

.u-max-width-18rem {
    max-width: 18rem !important;
  }

.u-max-width-19rem {
    max-width: 19rem !important;
  }

.u-max-width-20rem {
    max-width: 20rem !important;
  }

.u-max-width-21rem {
    max-width: 21rem !important;
  }

.u-max-width-22rem {
    max-width: 22rem !important;
  }

.u-max-width-23rem {
    max-width: 23rem !important;
  }

.u-max-width-24rem {
    max-width: 24rem !important;
  }

.u-max-width-25rem {
    max-width: 25rem !important;
  }

.u-max-width-26rem {
    max-width: 26rem !important;
  }

.u-max-width-27rem {
    max-width: 27rem !important;
  }

.u-max-width-28rem {
    max-width: 28rem !important;
  }

.u-max-width-29rem {
    max-width: 29rem !important;
  }

.u-max-width-30rem {
    max-width: 30rem !important;
  }

.u-max-width-31rem {
    max-width: 31rem !important;
  }

.u-max-width-32rem {
    max-width: 32rem !important;
  }

.u-max-width-33rem {
    max-width: 33rem !important;
  }

.u-max-width-34rem {
    max-width: 34rem !important;
  }

.u-max-width-35rem {
    max-width: 35rem !important;
  }

.u-max-width-36rem {
    max-width: 36rem !important;
  }

.u-max-width-37rem {
    max-width: 37rem !important;
  }

.u-max-width-38rem {
    max-width: 38rem !important;
  }

.u-max-width-39rem {
    max-width: 39rem !important;
  }

.u-max-width-40rem {
    max-width: 40rem !important;
  }

.u-max-width-41rem {
    max-width: 41rem !important;
  }

.u-max-width-42rem {
    max-width: 42rem !important;
  }

.u-max-width-43rem {
    max-width: 43rem !important;
  }

.u-max-width-44rem {
    max-width: 44rem !important;
  }

.u-max-width-45rem {
    max-width: 45rem !important;
  }

.u-max-width-46rem {
    max-width: 46rem !important;
  }

.u-max-width-47rem {
    max-width: 47rem !important;
  }

.u-max-width-48rem {
    max-width: 48rem !important;
  }

.u-max-width-49rem {
    max-width: 49rem !important;
  }

.u-max-width-50rem {
    max-width: 50rem !important;
  }

.u-max-width-halfrem {
  max-width: 0.5rem !important;
}

.u-width-halfrem {
  width: 0.5rem !important;
}

.u-width-0rem {
    width: 0rem !important;
  }

.u-width-1rem {
    width: 1rem !important;
  }

.u-width-2rem {
    width: 2rem !important;
  }

.u-width-3rem {
    width: 3rem !important;
  }

.u-width-4rem {
    width: 4rem !important;
  }

.u-width-5rem {
    width: 5rem !important;
  }

.u-width-6rem {
    width: 6rem !important;
  }

.u-width-7rem {
    width: 7rem !important;
  }

.u-width-8rem {
    width: 8rem !important;
  }

.u-width-9rem {
    width: 9rem !important;
  }

.u-width-10rem {
    width: 10rem !important;
  }

.u-width-11rem {
    width: 11rem !important;
  }

.u-width-12rem {
    width: 12rem !important;
  }

.u-width-13rem {
    width: 13rem !important;
  }

.u-width-14rem {
    width: 14rem !important;
  }

.u-width-15rem {
    width: 15rem !important;
  }

.u-width-16rem {
    width: 16rem !important;
  }

.u-width-17rem {
    width: 17rem !important;
  }

.u-width-18rem {
    width: 18rem !important;
  }

.u-width-19rem {
    width: 19rem !important;
  }

.u-width-20rem {
    width: 20rem !important;
  }

.u-width-21rem {
    width: 21rem !important;
  }

.u-width-22rem {
    width: 22rem !important;
  }

.u-width-23rem {
    width: 23rem !important;
  }

.u-width-24rem {
    width: 24rem !important;
  }

.u-width-25rem {
    width: 25rem !important;
  }

.u-width-26rem {
    width: 26rem !important;
  }

.u-width-27rem {
    width: 27rem !important;
  }

.u-width-28rem {
    width: 28rem !important;
  }

.u-width-29rem {
    width: 29rem !important;
  }

.u-width-30rem {
    width: 30rem !important;
  }

.u-width-31rem {
    width: 31rem !important;
  }

.u-width-32rem {
    width: 32rem !important;
  }

.u-width-33rem {
    width: 33rem !important;
  }

.u-width-34rem {
    width: 34rem !important;
  }

.u-width-35rem {
    width: 35rem !important;
  }

.u-width-36rem {
    width: 36rem !important;
  }

.u-width-37rem {
    width: 37rem !important;
  }

.u-width-38rem {
    width: 38rem !important;
  }

.u-width-39rem {
    width: 39rem !important;
  }

.u-width-40rem {
    width: 40rem !important;
  }

.u-width-41rem {
    width: 41rem !important;
  }

.u-width-42rem {
    width: 42rem !important;
  }

.u-width-43rem {
    width: 43rem !important;
  }

.u-width-44rem {
    width: 44rem !important;
  }

.u-width-45rem {
    width: 45rem !important;
  }

.u-width-46rem {
    width: 46rem !important;
  }

.u-width-47rem {
    width: 47rem !important;
  }

.u-width-48rem {
    width: 48rem !important;
  }

.u-width-49rem {
    width: 49rem !important;
  }

.u-width-50rem {
    width: 50rem !important;
  }

.u-width-100 {
  width: 100% !important;
}
