/** @define utilities */

@import "@superflycss/variables-dimension";

@media (--lg-viewport) {
  .u-lg-height-halfrem {
    height: 0.5rem !important;
  }
  @for $factor from 0 to 50 {
    .u-lg-height-$(factor)rem {
      height: $(factor)rem !important;
    }
  }
  .u-lg-min-height-halfrem {
    min-height: 0.5rem !important;
  }
  @for $factor from 0 to 50 {
    .u-lg-min-height-$(factor)rem {
      min-height: $(factor)rem !important;
    }
  }
  .u-lg-max-height-halfrem {
    max-height: 0.5rem !important;
  }
  .u-lg-height-100 {
    height: 100% !important;
  }
  @for $factor from 0 to 50 {
    .u-lg-max-height-$(factor)rem {
      max-height: $(factor)rem !important;
    }
  }
  .u-lg-min-width-halfrem {
    min-width: 0.5rem !important;
  }
  @for $factor from 0 to 50 {
    .u-lg-min-width-$(factor)rem {
      min-width: $(factor)rem !important;
    }
  }
  @for $factor from 0 to 50 {
    .u-lg-max-width-$(factor)rem {
      max-width: $(factor)rem !important;
    }
  }
  .u-lg-max-width-halfrem {
    max-width: 0.5rem !important;
  }
  .u-lg-width-halfrem {
    width: 0.5rem !important;
  }
  @for $factor from 0 to 50 {
    .u-lg-width-$(factor)rem {
      width: $(factor)rem !important;
    }
  }
  .u-lg-width-100 {
    width: 100% !important;
  }
}
