/** @define border utilities */

@for $factor from 0 to 20 {
  .u-border-width-$(factor)px {
    border-width: $(factor)px !important;
  }
  .u-bw$(factor)px {
    border-width: $(factor)px !important;
  }
  .u-border-radius-$(factor)px {
    border-radius: $(factor)px !important;
  }
  .u-br$(factor)px {
    border-radius: $(factor)px !important;
  }
  .u-btw$(factor)px {
    border-top-width: $(factor)px !important;
  }
  .u-bbw$(factor)px {
    border-bottom-width: $(factor)px !important;
  }
  .u-blw$(factor)px {
    border-left-width: $(factor)px !important;
  }
  .u-brw$(factor)px {
    border-right-width: $(factor)px !important;
  }
}

@each $dimension in top, bottom, left, right {
  @for $factor from 0 to 20 {
    .u-border-$(dimension)-width-$(factor)px {
      border-$(dimension)-width: $(factor)px !important;
    }
  }
}

@each $style in none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset, initial, inherit {
  .u-border-style-$(style) {
    border-style: $(style) !important;
  }
  .u-bs-$(style) {
    border-style: $(style) !important;
  }
  .u-bts-$(style) {
    border-top-style: $(style) !important;
  }
  .u-bbs-$(style) {
    border-bottom-style: $(style) !important;
  }
  .u-bls-$(style) {
    border-left-style: $(style) !important;
  }
  .u-brs-$(style) {
    border-right-style: $(style) !important;
  }
}

@each $dimension in top, bottom, left, right {
  @each $style in none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset, initial, inherit {
    .u-border-$(dimension)-style-$(style) {
      border-$(dimension)-style: $(style) !important;
    }
  }
}