/** @define utilities */

@import "@superflycss/variables-dimension";

@media (--sm-viewport) {
  @for $factor from 0 to 20 {
    .u-sm-border-width-$(factor)px {
      border-width: $(factor)px !important;
    }
    .u-sm-bw$(factor)px {
      border-width: $(factor)px !important;
    }
    .u-sm-border-radius-$(factor)px {
      border-radius: $(factor)px !important;
    }
    .u-sm-br$(factor)px {
      border-radius: $(factor)px !important;
    }
    .u-sm-btw$(factor)px {
      border-top-width: $(factor)px !important;
    }
    .u-sm-bbw$(factor)px {
      border-bottom-width: $(factor)px !important;
    }
    .u-sm-blw$(factor)px {
      border-left-width: $(factor)px !important;
    }
    .u-sm-brw$(factor)px {
      border-right-width: $(factor)px !important;
    }
  }
  
  @each $dimension in top, bottom, left, right {
    @for $factor from 0 to 20 {
      .u-sm-border-$(dimension)-width-$(factor)px {
        border-$(dimension)-width: $(factor)px !important;
      }
    }
  }
  
  @each $style in none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset, initial, inherit {
    .u-sm-border-style-$(style) {
      border-style: $(style) !important;
    }
    .u-sm-bs-$(style) {
      border-style: $(style) !important;
    }
    .u-sm-bts-$(style) {
      border-top-style: $(style) !important;
    }
    .u-sm-bbs-$(style) {
      border-bottom-style: $(style) !important;
    }
    .u-sm-bls-$(style) {
      border-left-style: $(style) !important;
    }
    .u-sm-brs-$(style) {
      border-right-style: $(style) !important;
    }
  }
  
  @each $dimension in top, bottom, left, right {
    @each $style in none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset, initial, inherit {
      .u-sm-border-$(dimension)-style-$(style) {
        border-$(dimension)-style: $(style) !important;
      }
    }
  }
}
