@import "@superflycss/foundation";
@import "../../main/css/index.css";
@import "@superflycss/utilities-fonts";
@import "@superflycss/utilities-colors";
@import "@superflycss/variables-colors/superfly/";
@import "@superflycss/utilities-colors/material/";
@import "@superflycss/utilities-colors/browser/";
@import "@superflycss/utilities-colors/superfly/";
@import "@superflycss/component-display";
@import "@superflycss/component-body";
@import "@superflycss/component-test";
@import "@superflycss/component-header";

body {
  counter-reset: test-counter;
}

.u-fullWidthFlex {
    flex: 0 0 100%;
}

.Box {
  background: black;
  height: 50px;
  width: 50px;
}

/** Define a color Palette (--P-- prefix */
:root {
  --P--Header-background-color: #F4F3FE;

  --P--Header_link-text-color: #10658e;
  --P--Header_link-border-color: #859aa5;;
  --P--Header_link_onHover-text-color: #859aa5;;
  --P--Header_link_onHover-border-color: #00BCD4;

  --P--TestHeader-background-color:  rgb(99, 99, 99);
  --P--TestContainer-text-color: var(--color-sf-charcoal-blue);

  --P--Display-text-color: #EE5B6C;

  --P-border-color:  #1AC0BA;
  --P-text-color: #1AC0BA;
  --P_onHover-text-color: #e91eaa;
  --P_onHover-border-color: #e91eaa;

  --P-white: white;
  --P-orange: orange;
}

/** Customize the header */
:root {
  /** HEADER */
  --Header-background-color: var(--P--Header-background-color);

   /** HEADER LINK */
  --Header_link-padding-left: 5rem;
  --Header_link-padding-right: 5rem;
  --Header_link-padding-top: 0.5rem;
  --Header_link-padding-bottom: 0.5rem;
  --Header_link-border-radius: 4px;
  --Header_link-border-color: var(--P--Header_link-text-color);
  --Header_link-text-color: var(--P--Header_link-border-color);

  /** HEADER LINK ON HOVER*/
  --Header_link_onHover-text-decoration: none;
  --Header_link_onHover-text-color: var(--P--Header_link_onHover-text-color);
  --Header_link_onHover-border-color: var(--P--Header_link_onHover-border-color);

  /** TEST HEADER */
  --TestHeader-background-color:var(--P--TestHeader-background-color);
  --TestHeader-text-color: white;

  /** TEST CONTAINER */
  --TestContainer-text-color: var(--P--TestContainer-text-color);
  --TestUtilities-text-color: #E8887D;
  --TestRender-text-color:white;

  /** TEST COUNTER */
  --TestCounter-text-color: #1C3C4B;

  /** TEST SEPARATOR */
  --TestSeparator-border-color: var(--P-white);
  --TestSeparator-background-color: var(--P-orange);

  /** TEST EM */
  --TestEm-text-color: #1C3C4C;

  /** TEST BOX */
  --TestBox-border-color: #1C3C4C;
  --TestBox-background-color: #1AC0BA;
}

 /** TEST BOX */
 :root {
  --TestCanvas-background-color: var(--color-md-blue-grey-100);
}

/** Customize the Display component */
:root {
  --Display-text-color: var(--P--Display-text-color);
}
